body{
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    font-family: century gothic;
    background: url('../Images/images_1.jpg') center no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-clip: content-box;
}
.container-content{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px;
    margin: 0px;
    margin-top: 10%;
    z-index: -1;
}
h2{
    margin: 5px;
    font-size: 2em;
    font-weight: 10;
}
.signup-form-content{
    background-color: #eee;
    width: 50%;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10vh;
    color: #000;
}
.header{
    display: flex;
    flex-direction: column;
    color: #000;
    margin: 10px;
    padding: 5px;
    width: 100%;
    transform: translateY(10%);
}
.signup-input-content{
    border: 0;
    padding: 7px;
    margin: 5px;
    background-color: #fff;
    outline: 0;
    width: 150%;
    margin-left: 10px;
    font-family: century gothic;
}
input[type="submit"]{
    border: none;
    font-family: century gothic;
    padding: 10px;
    margin: 5px;
    margin-top: 5vh;
    background-color: dodgerblue;
    pointer-events: stroke;
    cursor: pointer;
    transform: translateX(2%);
}
